<div class='main-container'>
  <%= render partial: 'create_form' %>

  <% if parsed_feeds.present? %>
    <div class='container'>
      <div class='row feeds-list'>
        <% parsed_feeds.each do |feed| %>
          <div class='col col-33'>
            <div class='gra-card'>
              <div class='gra-card-content'>
                <h5 class='gra-card-title'>
                  <%= feed[:title] %>
                  <span tooltip='Edit' data-controller='edit' data-action='click->edit#action'>
                    <i data-feather='edit'></i>
                  </span>
                  <span tooltip='Remove' data-controller='delete' data-action='click->delete#action' data-id='<%= feed[:id] %>'>
                    <i data-feather='x-circle'></i>
                  </span>
                </h5>
                <div class='gra-card-body'>
                  <% if feed[:error].present? %>
                    <%= feed[:error] %>
                  <% end %>
                  <% if feed[:entries].present? %>
                    <ul class='gra-list'>
                      <% feed[:entries].each do |entry| %>
                        <li class='gra-list-item'>
                          <a href='<%= entry.link %>' target='_blank'>
                            <%= entry.title %>
                          </a>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!--
<%# <%= render partial: 'update_form', locals: { feed: feed } %>
-->
