<div class='gra-card'>
  <div class='gra-card-content'>
    <h5 class='gra-card-title hidden-mobile'>
      <span class='feed-title'>
        <%= parsed_feed[:title] %>
      </span>

      <div class='feed-actions'>
        <span tooltip='refresh' data-controller='refresh' data-action='click->refresh#action' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:refresh] %></span>
        </span>
        <span tooltip='edit' data-controller='edit' data-action='click->edit#showEdit' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:edit] %></span>
        </span>
        <span tooltip='delete' data-controller='delete' data-action='click->delete#show' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:trash] %></span>
        </span>
      </div>
    </h5>

    <h5 class='gra-card-title visible-mobile'>
      <span class='feed-title gra-block'>
        <%= parsed_feed[:title] %>
      </span>

      <div class='feed-actions'>
        <span data-controller='reorder' data-action='click->reorder#down' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:arrow_down] %></span>
        </span>
        <span data-controller='reorder' data-action='click->reorder#up' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:arrow_up] %></span>
        </span>
        <span data-controller='refresh' data-action='click->refresh#action' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:refresh] %></span>
        </span>
        <span data-controller='edit' data-action='click->edit#showEdit' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:edit] %></span>
        </span>
        <span data-controller='delete' data-action='click->delete#show' data-id='<%= parsed_feed[:id] %>'>
          <span class='icon-outer'><%= icons[:trash] %></span>
        </span>
      </div>
    </h5>

    <div class='gra-card-body edit-form-container' id='edit-<%= parsed_feed[:id] %>' style='display: none;'>
      <%= render partial: 'update_form', locals: { feed: parsed_feed } %>
    </div>

    <div class='gra-card-body delete-form-container' id='delete-<%= parsed_feed[:id] %>' style='display: none;'>
      <%= render partial: 'delete_form', locals: { feed: parsed_feed } %>
    </div>

    <div class='gra-card-body' id='show-<%= parsed_feed[:id] %>'>
      <% if parsed_feed[:error].present? %>
        <%= parsed_feed[:error] %>
      <% end %>

      <% if parsed_feed[:entries].present? %>
        <ul class='gra-list'>
          <% parsed_feed[:entries].each do |entry| %>
            <li class='gra-list-item'>
              <a href='<%= entry.url %>' target='_blank' rel='noopener noreferrer' referrerpolicy='no-referrer'>
                <%= entry.title %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
