<%
  feed_route = routes.feed_index_path
  settings_route = routes.settings_show_path
  logout_route = routes.sign_out_path
%>

<nav class='navbar'>
  <ul class='gra-nav'>
    <li class='gra-nav-item'>
      <a class='<%= current_page?(feed_route) ? "current " : nil %>gra-nav-link' href='<%= feed_route %>'>
        <i data-feather='home'></i>
      </a>
    </li>
    <li class='gra-nav-item'>
      <a class='<%= current_page?(settings_route) ? "current " : nil %>gra-nav-link' href='<%= settings_route %>'>
        <i data-feather='user'></i>
      </a>
    </li>
    <li class='gra-nav-item'>
      <a class='gra-nav-link' href='<%= logout_route %>'>
        <i data-feather='log-out'></i>
      </a>
    </li>

    <li class='gra-nav-item' style='border-left: 1px solid #d9dcde; border-right: 1px solid #d9dcde;'></li>

    <li class='gra-nav-item'>
      <a class='gra-nav-link' href='#' data-controller='refresh-all' data-action='click->refresh-all#action:prevent'>
        <i data-feather='refresh-cw'></i>
      </a>
    </li>
  </ul>
</nav>
