<%
  hash = current_user&.settings&.value || UserSettings::DEFAULTS
  prefs = Json.build(hash)
%>
<!DOCTYPE html>
<html lang='en-US' class='<%= hash[:theme] %>'>
  <head>
    <title>RSS Reader</title>
    <meta name='description' content='Collect all of your favorite RSS feeds in one easy-to-use, minimalist interface'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='turbo-cache-control' content='no-preview'>
    <%= csrf_meta_tags %>
    <%= favicon 'favicon.png', type: 'image/png' %>
    <link href='https://fonts.bunny.net' rel='preconnect'>
    <%= stylesheet 'styles' %>
    <%= javascript 'scripts' %>
  </head>
  <body>
    <% if authenticated? %>
      <%= render partial: './navbar' %>
    <% end %>

    <noscript>
      <div id='notice'>
        <div>
          <div>JavaScript is required for this website to function.</div>
          <div>
            <a href='https://www.enable-javascript.com/' target='_blank' rel='noreferrer noopener'>
              Please enable it to continue.
            </a>
          </div>
        </div>
      </div>
    </noscript>

    <%= yield %>

    <% if authenticated? %>
      <span id='scroll-to-top' class='hide' tooltip='Back To Top' tooltip-position='left'>
        <%= icons[:caret_up] %>
      </span>

      <%= render partial: './footer' %>
    <% end %>

    <script type='text/javascript'>
      window.RssReader = {
        preferences: <%= prefs %>,
        <% if flash[:error_toast].present? %>
          errmsg: '<%= flash[:error_toast] %>',
        <% end %>
        <% if flash[:success_toast].present? %>
          sucmsg: '<%= flash[:success_toast] %>',
        <% end %>
      };
    </script>
  </body>
</html>
