<!DOCTYPE html>
<html>
  <head>
    <title>RSS Reader</title>
    <%= favicon %>
    <%= stylesheet 'https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/sanitize.min.css' %>
    <%= stylesheet 'https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/typography.min.css' %>
    <%= stylesheet 'https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/forms.min.css' %>
    <%= stylesheet 'styles' %>
    <%= javascript 'https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.2.0/dist/turbo.es2017-umd.min.js' %>
  </head>
  <body>
    <%= flash[:error] %>
    <%= flash[:success] %>
    <%= yield %>
  </body>
</html>
