<!DOCTYPE html>
<html>
  <head>
    <title>RSS Reader</title>
    <%= stylesheet 'styles' %>
    <%= favicon %>
  </head>
  <body>
    <%= flash[:error] %>
    <%= flash[:success] %>
    <%= yield %>
  </body>
</html>
