<%
  hash = current_user&.settings&.value || UserSettings::DEFAULTS
  prefs = Json.build(hash)
%>
<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <title>RSS Reader</title>
    <meta name='description' content='Collect all of your favorite RSS feeds in one easy-to-use place'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='turbo-cache-control' content='no-preview'>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com' rel='preconnect'>
    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <%= stylesheet 'styles' %>
    <%= javascript 'scripts', defer: true %>
    <%= favicon 'favicon.png', type: 'image/png' %>
  </head>
  <body class='<%= hash[:theme] %>'>
    <% if authenticated? %>
      <%= render partial: './navbar' %>
    <% end %>
    <%= yield %>

    <div id='preferences-modal' class='gra-modal-wrapper' tabindex='-1' role='dialog'>
      <a class='gra-modal-overlay' href='#' data-controller='modal' data-action='click->modal#close:prevent' data-id='preferences-modal'></a>
      <div class='gra-modal'>
        <div class='gra-modal-header'>
          <h5 class='gra-modal-title' id='modal_title'>
            Preferences
          </h5>
        </div>
        <%=
          form_for :preferences, routes.settings_update_path, method: :patch, 'data-scrollfreeze': true do
            div class: 'gra-modal-body' do
              hidden_field :context, value: 'preferences'

              div class: 'gra-form-group' do
                label 'Theme', for: 'theme-selector'
                select :theme,
                  [
                    ['Light', 'light'],
                    ['Dark', 'dark']
                  ],
                  id: 'theme-selector',
                  'data-controller': 'dropdown',
                  'data-id': 'theme-selector',
                  options: { selected: hash[:theme] }
              end

              div class: 'gra-form-group' do
                label 'Auto-refresh Interval', for: 'refresh-interval-selector'
                select :refresh_interval,
                  [
                    ['Off', 0],
                    ['30 Seconds', 30],
                    ['1 Minute', 60],
                    ['5 Minutes', 60 * 5],
                    ['10 Minutes', 60 * 10],
                    ['30 Minutes', 60 * 30]
                  ],
                  id: 'refresh-interval-selector',
                  'data-controller': 'dropdown',
                  'data-id': 'refresh-interval-selector',
                  options: { selected: hash[:refresh_interval].to_i }
              end
            end

            div class: 'gra-modal-footer' do
              div class: 'gra-modal-actions' do
                a 'Close', class: 'gra-btn gra-btn-clear', href: '#', 'data-controller': 'modal', 'data-action': 'click->modal#close:prevent', 'data-id': 'preferences-modal'
                submit class: 'gra-btn' do
                  span 'Save'
                  i 'data-feather': 'check', class: 'icon-right'
                end
              end
            end
          end
        %>
      </div>
    </div>

    <script type='text/javascript'>
      window.RssReader = {
        preferences: <%= prefs %>,
        <% if flash[:error_toast].present? %>
          errmsg: '<%= flash[:error_toast] %>',
        <% end %>
        <% if flash[:success_toast].present? %>
          sucmsg: '<%= flash[:success_toast] %>',
        <% end %>
      };
    </script>
  </body>
</html>
