<!DOCTYPE html>
<html>
  <head>
    <title>RSS Reader</title>
    <%= favicon %>
    <link href='https://fonts.googleapis.com' rel='preconnect'>
    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <%= stylesheet 'styles' %>
    <%= javascript 'https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.2.0/dist/turbo.es2017-umd.min.js' %>
    <%= javascript 'https://cdn.jsdelivr.net/npm/feather-icons@4.29.0/dist/feather.min.js' %>
    <%= javascript 'scripts', defer: true %>
  </head>
  <body>
    <%= yield %>
    <script>
      feather.replace();
    </script>
  </body>
</html>
